{% if lasest_question_list %}
    <ul>
        {% for question in lasest_question_list %}
            <li>
{#            This is the hard code URL#}
{#                <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>#}
{#                <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>#}
{#                please see `app_name = 'polls'` in polls.urls.py it is the namespacing URL names #}
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
